body
{
    background-color: #FFFCFC;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

h2
{
    font-size:28px;
    margin: 20px;
    text-align: center;
}

h3
{
    font-size: 20px;
    line-height: 40px
}

#grid
{
    width:100%;
    height:100%;
    
    display:grid;
    grid-gap: 0px;
    grid-template-areas:
        "navi main";
}



/*  styles */



#navi
{
    grid-area: navi;
}

#main
{
    grid-area: main;
    width:1000px;
}

.settings{
    text-align: center;
    padding: 70px 0;
}

/* Style tab links */
.tablink {
    background-color:#D9F1ED;
    border:none;
    color: black;
    display:block;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 16px;
    letter-spacing: 1px;
    width:100%;
    height:200px
}

.tablink:hover
{
  background-color:#DB7537;
}

.tabcontent
{
    color:black;
    display:inline-block;
    float:right;
    background-color: #fffcfc;
    width:100%;
}


/* Start of themes formatting */
.dark{
    text-align: center;
    padding: 15px;
}

.switch {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Account Information*/
* {box-sizing: border-box}

#newBillForm
{
    display: block;
}

#newBillForm input
{
    display:block;
    margin: 10px auto;
}

input[type=text], input[type=password], input[type=number] {
    width: 50%;
    height:70px;
    padding: 15px;
    display:block;
    border: none;
    background: #f1f1f1;
    text-align: center;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

#addFriend
{
    display: inline-block;
    float:left;
    transform: translateX(100%);
    background-color: #DB7537;
    color:white;
    padding:20px;
}

#addBill
{
    display: none;
    float:right;
    transform: translateX(-100%);
    background-color: #7E9E7C;
    color:white;
    padding:20px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


button {
    background-color: #383838;
    color: #E0E0E0;
    padding: 14px 20px;
    margin: 8px 0;
    width: 50%;

}

button:hover {
    background-color: #E0E0E0;
    color: black;
}

.userInfo
{
    width:80%;
    display: block;
    margin: 10px auto;
}

.userInfo input{
    display:block;
    margin: 10px auto;
}

.imgDiv img{
    width: 20%;
    height: auto;
    display:block;
    margin: 10px auto;
}


.columns{
    display: inline-block;
    border: 2px solid black;
    width: 45%;
    float:left;
    min-height:300px;
    padding: 10px;
    margin-left: 3.5%;
    
    
}
.bill{
    display: inline-block;
    border:1px solid black;
    width: 100%;
    margin: 5px auto;
    padding: 5px;
    font-size: 18px;
    
}
.bill:hover{
    background-color: #555;
    color: white;
}

.billInfo{
    border: 2px solid black;
}

.total{
    text-align: center;
    border-bottom: 3px dashed black;
}

.amountOwed, .amount{
    display: inline-block;
}

.amountOwed
{
    border-right:1px solid black;
    
}


.person{
    border-bottom: 2px solid black;
    margin: 15px;
}

.person p{
    text-align: center;
    display: inline;
    margin: 15px;
    font-size: 25px;
}

#navi
{
    width:100%;
    height:100%;
    display:inline-block;
    float:left;
    background-color: #D9F1ED
}


#navi ul li, #navi ul
{
  list-style:none;
  margin:0;
  padding:0;
}

#submitbtn
{
    margin:10px auto;
    display: block;
    background-color: #555;
    
}